body {
    padding: 0;
    margin: 0;
    background-color: #edfafd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
}

.biodata {
    background-color:aqua ;
    border-radius: 15px;
    width: auto;
    margin: 10px ;
    padding: 10px;
}

.biodata td {
    padding: 5px;
}

.biodata h1 {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.form {
    background-color: aqua;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.form h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.form .tabel {
    text-align: left;
}

.form .tabel label, input {
    margin: 6px;
}

.checkbox {
    display: flex;
}
.radio {
    display: flex;
}

.button {
    text-align: center;
}

.navigasi {

    width: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
}

.navigasi-container {
    background-color: aqua;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.navigasi h3 {
    margin: 0;
}

.navigasi a{
    color: inherit;
    text-decoration: none;
}

.riwayat {
    background-color:aqua ;
    border-radius: 15px;
    max-width: 810px;
    width: auto;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
}

.riwayat h3 {
    margin: 0;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
}

.riwayat table {
    padding-left: 20px;
}

.riwayat ol{
    margin: 0;
    padding-left: 41px;
}

.riwayat p{
    margin: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
